body{
    margin: 0;
    background-color: #2F4F30 !important;
    color: white !important;
}

.title{
    background-color: black;
    h1{
        text-align: center;
        color: white;
        padding: 1rem;
    }
}
.button-wrapper{
    button{
        margin-left: 15px;
    }
}
.card-wrapper{
    height: 15rem;
    .cards{
        position: relative;
        width: 10rem;
        margin-left: -5rem;
        left: 100px;
    }
}